:root {
    --swiper-theme-color: rgb(232,219,195);
}

.swiper{
    width: 100vw;
    height: 100vh;
}

.swiper-image{
    width: 100vw;
    height: 100vh;
}

.modal{
    width: 40vw;
    height: 90vh;
    color: black;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, .25));
    z-index: 5;
}

.modalHeader{
    height: 10vh;
}

.modalBody{
    max-height: auto;
}