:root {
    --swiper-theme-color: rgb(232,219,195);
}

.swiper{
    width: 100vw;
    height: 100vh;
    cursor: pointer;
}

.hover{
    cursor: default;
}

.swiper-image{
    width: 100vw;
    height: 100vh;
}

.modal{
    width: 60vw;
    height: 90vh;
    border: 3px solid rgb(232,219,195);
    background-color:rgb(88,47,41);
    filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, .4));
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.modal-header > .btn-close{
    width: 32px;
    height: 32px;
    margin-left: auto;
    margin-right: 2%;
    background-color: rgb(88,47,41);
    border: 2px outset rgb(88,47,41);
    color: rgb(232,219,195)
}

.modal-header > .btn-close:hover{
    cursor: pointer;
}

.modal-header{
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: rgb(232,219,195);
    filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, .4));
}

.modal-header > .modal-title{
    margin-left: 2%;
}

.modal-backdrop{
    background-color: rgb(232,219,195);
    color: rgb(232,219,195);
}

.modal-body{
    height: calc(100vh - 20vh);
    min-height: 100%;
    max-height: 100%;
    overflow-y: scroll;
}

.modalImage{
    width: auto;
    max-width: 80%;
    max-height: 90%;
    margin: 2vh auto;
    display:block;
    border: 3px solid rgb(232,219,195);
}

h1#portfolioTitle{
    color: rgb(88,47,41);
}
