nav{
    background-color: brown;
    display: flex;
    color: aliceblue;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, .25));
}

ul#navLinkList{
    display: flex;
    margin: auto 0;
    max-width: auto;
    width: 100%;
}

li.navLink{
    list-style: none;
    margin-right: 5%;
}

li.navLink a{
    text-decoration: none;
    color: inherit;
}

nav h1{
    margin-left: 5%;
}
