nav#navBar{
    background-color:rgb(88,47,41);
    filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, .4));
    position: absolute;
    width: 100vw;
    height: 6vh;
    z-index: 2;
}

ul#navLinkList{
    display: flex;
    align-items: center;
    margin: auto 0;
    max-width: auto;
    width: 100%;
    height: 6vh;
}

li.navLink{
    list-style: none;
    margin-right: 5%;
}

li.navLink a, a{
    text-decoration: none;
    color: inherit;
}

#linksContainer{
    display: flex;
    margin-left: 5%;
}

#socialsContainer{
    display: flex;
    margin: auto 0;
    margin-right: 2.5%;
}

.socials {
    width: 100%;
    height: 100%;
    max-width: 36px;
    max-height: 36px;
}

a > h1{
    height: 6vh;
}

