div#imgGridContainer{
    width: 100vw;
    height: 100vh;
    display: grid;
    column-gap: 0px;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: repeat(12, auto);
    row-gap: 0px;
    z-index: 1;
}

.imageThumbnail{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1#portfolioTitle{
    color: rgb(88,47,41);
}

.modalImage{
    width: auto;
    height: auto;
    object-fit: cover;
    max-width: 80%;
    max-height: 50%;
    margin: 2vh auto;
    display:block;
    border: 3px solid rgb(232,219,195);
}


.modal{
    width: 60vw;
    height: 90vh;
    border: 3px solid rgb(232,219,195);
    background-color:rgb(88,47,41);
    filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, .4));
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.modal-header > .btn-close{
    width: 32px;
    height: 32px;
    margin-left: auto;
    margin-right: 2%;
    background-color: rgb(88,47,41);
    border: 2px outset rgb(88,47,41);
    color: rgb(232,219,195)
}

.modal-header{
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: rgb(232,219,195);
    filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, .4));
}

.modal-header > .modal-title{
    margin-left: 2%;
}

.modal-backdrop{
    background-color: rgb(232,219,195);
    color: rgb(232,219,195);
}

.modal-body{
    height: calc(100vh - 20vh);
    min-height: 100%;
    max-height: 100%;
    overflow-y: scroll;
}
