div#imgGridContainer{
    width: 99vw;
    height: 100vh;
    padding: .5rem;
    background-color: rgb(243, 59, 99);

    position: fixed;
    bottom: 0;

    display: grid;
    column-gap: 0px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    row-gap: .25rem;
    column-gap: .25rem;

    overflow: auto;
    scrollbar-width: thin;

    z-index: 1;
}

.imageThumbnail{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.imageButton{
    width: 100%;
    height: 100%;

    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

h1#portfolioTitle{
    color: rgb(88,47,41);
}

#imageContainer{
    width:100%;
    height:100%;
    overflow-y: scroll;
    scrollbar-width: thin;
}
.modalImage{
    width: auto;
    height: auto;
    max-width: 95%;
    max-height: 95%;

    margin: 2vh auto;
    display:block;
    border: 3px solid rgb(243, 59, 99);;
}


.modal{
    width: 60vw;
    height: 95vh;
    border: 3px solid rgb(232,219,195);
    background-color:rgb(88,47,41);
    filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, .4));
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.modal-header > .btn-close{
    width: 32px;
    height: 32px;
    margin-left: auto;
    margin-right: 2%;
    background-color: rgb(88,47,41);
    border: 2px outset rgb(88,47,41);
    color: rgb(232,219,195)
}

.modal-header{
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: rgb(232,219,195);
    filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, .4));
}

.modal-header > .modal-title{
    margin-left: 2%;
}

.modal-backdrop{
    background-color: rgb(232,219,195);
    color: rgb(232,219,195);
}

.modal-body{
    height: calc(100vh - 15vh);
    min-height: 100%;
    max-height: 100%;
}

.thumbnailContainer{
    width: 100%;
    height: 100%;
    position: relative;
}

.buttonOverlay{
    width: 100%;
    height: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition-duration: .25s;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.thumbnailContainer:hover .buttonOverlay{
    opacity: 1;
}

.buttonOverlay > h1{
    z-index: 2;
}

.thumbnail{
    width: 100%;
    height: 100%;
    
    position: relative;
    top: 0;
    left: 0;
    
}

@media (max-width:600px){

}