@font-face{
  font-family: WinkySans;
  src: url("../public/WinkySans-SemiBold.ttf");
}



@font-face{
  font-family: ChironGoRound;
  src: url("../public/ChironGoRoundTC-Regular.ttf");
}

h1, h2, h3, h4, h5, h6{
  font-family: WinkySans;
}

body {
  margin: 0;
  font-family: ChironGoRound;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
